/* Nav */

.cartButton {
  display: flex;
  align-items: center;
  position: relative;
  padding: 5px 15px;
  margin-right: 100px;
}

.cartButton:hover {
  background-color: #e0e0e0;
}

.cartIcon {
  margin-right: 5px;
}

.cartItems {
  margin-left: 8px;
  background-color: #212529;
  color: white;
  font-size: small;
  border-radius: 50%;
  padding: 2px 4px;
  display: inline-block;
  min-width: 24px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.nav-title {
  margin-left: 100px;
}

/* Carousel */

.section {
  text-align: center;
  /* to display the h1 and p at the center of the div */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* ----------------------- */
  height: 300px;
  color: white;
  background-color: #212529;
}

.section-title {
  font-size: 56px;
}

.tagline {
  color: #90928e;
  font-size: 20px;
}

/* Content */
